<%= content_for :head do %>
  <%= render Head.new(title: "Posts") %>
<% end %>
<%= render Breadcrumb.new do |component| %>
  <% component.with_crumb(href: root_path) do %>
    <%= I18n.t("breadcrumb.home") %>
  <% end %>
  <% component.with_crumb(href: posts_path, active: true) do %>
    <%= I18n.t("breadcrumb.posts") %>
  <% end %>
<% end %>
<section>
  <% @posts.each do |post| %>
    <div class="pb-4">
      <%= render Link.new(href: post_path(post.slug), underline: false) do %>
        <%= render Card.new do |card| %>
          <%= card.with_title.with_content(post.title) %>
          <%= card.with_subtitle do %>
            <%= render Blog::Post::PostedAt.new(date: post.created_at) %>
          <% end %>
          <% if post.description.present? %>
            <%= card.with_body do %>
              <%= post.description %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
