<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.rouge", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="w-full p-8 font-sans antialiased text-zinc-950 bg-zinc-50 scroll-smooth dark:bg-zinc-950 dark:text-zinc-50">
    <%= yield %>
  </body>
</html>
